* {
  padding: 0;
  margin: 0;
}



.cuadrado {
  width: 100px;
  height: 100px;
  background: green;
  border: black 2px solid;
}

.rombo {
  width: 100px;
  height: 100px;
  background: pink;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  border: black 2px solid;
}

.circulo {
  width: 100px;
  height: 100px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: orange;
  border: black 2px solid;
}